<ion-content  >

<!--

  <ion-header>
    <ion-toolbar>


    </ion-toolbar>

  </ion-header>
-->



  <ion-grid  [ngClass]="conf.temaOscuro ? 'tema-oscuro' : 'tema-principal'">
    
    <ion-row  >
      <ion-col size="12" >
        <ion-item [color]="conf.temaOscuro ? 'oscuro2' : 'principal'" >
          <ion-label>{{mensajes.dificultad[conf.idioma]}}</ion-label >
          <ion-select  (ionChange)="guardarConf($event)" (ok-text)="conf.idioma == 1? 'Guardar':'Save'"(cancel-text)="conf.idioma == 1? 'Cancelar':'Cancel'"
            [(ngModel)]="this.conf.dificultad" >
            <ion-select-option *ngFor="let dificultad of dificultades; let i=index" [value]="dificultad.id">
              {{dificultad.label[conf.idioma]}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item [color]="conf.temaOscuro ? 'oscuro2' : 'principal'">
          <ion-label>{{mensajes.tiempo[conf.idioma]}}</ion-label>
          <ion-select (ionChange)="guardarConf($event)" (ok-text)="conf.idioma == 1? 'Guardar':'Save'"(cancel-text)="conf.idioma == 1? 'Cancelar':'Cancel'"
            [(ngModel)]="this.conf.tiempo" >
            <ion-select-option *ngFor="let t of tiempos;" [value]="t.id">
              {{t.label[conf.idioma]}}</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-col>
      <ion-col size="12">
        <ion-item [color]="conf.temaOscuro ? 'oscuro2' : 'principal'" >
          <ion-label>{{mensajes.dosJugadores[conf.idioma]}}</ion-label>
          <ion-toggle [(ngModel)]="conf.dosJugadores" (ionChange)="guardarConf($event)" ></ion-toggle>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6" sizeLg="4" *ngFor="let modo of modos">
        <ion-card [routerLink]="conf.dosJugadores? '/dosjugadores/'+modo.id+'/'+conf.dificultad+'/'+conf.tiempo: '/juego/'+modo.id+'/'+conf.dificultad+'/'+conf.tiempo" [color]="conf.temaOscuro ? 'oscuro2' : ''">
          <img [src]="modo.img" style="width: 90%" class="center pt-1">
          <ion-card-header text-center [ngClass]="conf.temaOscuro? 'white-text': 'black-text'">
            <h6 style="font-family: 'Georgia'">{{modo.label[conf.idioma]}}</h6>
          </ion-card-header>
        </ion-card>
      </ion-col>
     

    </ion-row>
  </ion-grid>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed"  >
      <ion-fab-button color="orange">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button routerLink="/about" > <ion-icon name="md-information-circle-outline"></ion-icon></ion-fab-button>
        
        <ion-fab-button routerLink="/estadisticas" > <ion-icon name="md-stats"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="cambiarTema()" >
            <ion-icon name="md-sunny" *ngIf="conf.temaOscuro" ></ion-icon>
            <ion-icon name="moon" *ngIf="!conf.temaOscuro" ></ion-icon>
          </ion-fab-button>
       
        <ion-fab-button (click)="cambiarIdioma()">
            <ion-icon name="swap"></ion-icon>
        </ion-fab-button>

      </ion-fab-list>
     
    </ion-fab>

</ion-content>