<ion-content [color]="conf.temaOscuro ? 'oscuro2' : ''">
  <div style="height: 100%; ">
    <ion-row style="height: 100%;" justify-content-center align-items-center>
      <ion-col size="12" text-center>

        <div>
          <span style="font-size: 160%" *ngIf="labelActual == 1" class="animated fadeIn">
            Selecciona tu idioma
          </span>

          <span style="font-size: 160%" *ngIf="labelActual == 2" class="animated fadeIn">
            Choose your language
          </span>

          <br>
          <br>

          <ion-button (click)="setIdioma(1)" color="orange" style="font-size: 150%; margin-top: 10%; border-radius: 15px;">
            Español
          </ion-button>
          <br><br>
          <ion-button (click)="setIdioma(2)" color="orange" style="font-size: 150%; border-radius: 15px;">
            English
          </ion-button>

          <br>


        </div>



      </ion-col>

    </ion-row>

  </div>


</ion-content>