<ion-header>
  <ion-toolbar [color]="conf.temaOscuro ? 'oscuro2' : ''">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{mensajes.titulo[conf.idioma]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [color]="conf.temaOscuro ? 'oscuro2' : ''">
  <ion-card [color]="conf.temaOscuro ? 'oscuro2' : ''">
    <ion-card-header>
      <ion-card-title>
        <ion-img src="assets/img/h.png"></ion-img>
        <ion-img src="assets/img/f.png"></ion-img>
      </ion-card-title>
     
    </ion-card-header>
    <ion-card-content text-justify >

      Info: <br>
      {{mensajes.info[conf.idioma]}}
      <br><br>


      {{mensajes.version[conf.idioma]}}: <br> 1.0 <br><br>  
      
      {{mensajes.tecnologia[conf.idioma]}}:
      <ul>
        <li>Ionic 4</li>
        <li>Angular 8</li>
        <li>Materialize.css</li>
        <li>Animate.css</li>
        <li> <3 </li>
      </ul>
    </ion-card-content>
  </ion-card>

      
  <ion-card [color]="conf.temaOscuro ? 'oscuro2' : ''">
      <ion-card-header>
         <ion-card-title>{{mensajes.desarrollador[conf.idioma]}}</ion-card-title>
      </ion-card-header>
      <ion-card-content text-justify>
         {{mensajes.bio[conf.idioma]}}
        <br><br>
        <h1 style="font-size:200%; text-align: center" >
            <b>ツ</b></h1>
        <br><br>
       {{mensajes.contacto[conf.idioma]}}: <br> <br>
        
       <ion-icon name="logo-facebook"></ion-icon> JovannyRch

       <br> <br>
        
        <ion-icon name="logo-youtube"></ion-icon> JovannyRch <br><br>
        

        <ion-icon name="logo-whatsapp"></ion-icon> +52 712 139 7374 <br><br>
        <ion-icon name="logo-github"></ion-icon> github.com/JovannyRch<br> <br>
        Gitlab: gitlab.com/JovannyRch <br><br>




        <ion-item text-center  [color]="conf.temaOscuro ? 'oscuro2' : ''">
        
            <ion-grid fixed>
              <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="8">
                    <b> <ion-icon  *ngIf="icon === 'rocket'" class="animated jackInTheBox" style="font-size: 220%" [name]="icon"></ion-icon> 
                      <ion-icon  *ngIf="icon === 'planet'" class="animated jackInTheBox" style="font-size: 220%" [name]="icon"></ion-icon> 
                      <br>J19 Studios</b>
                </ion-col>
                <ion-col size="2"></ion-col>

              </ion-row>
            </ion-grid>
            
          

        </ion-item>

      </ion-card-content>
    </ion-card>

</ion-content>
