/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face{
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf')
};


$font-family-base: "Roboto-Regular", cursive !default;

ion-content{
  font-family: 'Roboto-Regular'; 
}


.center{
    margin: 0 auto;
};

.center2{
    margin-left: auto;
    margin-right: auto;
}

.pt-4{
    padding-top: 40%
}

.pt-3{
    padding-top: 30%
}

.pt-2{
    padding-top: 20%
}

.pt-1{
    padding-top: 10%
}

.pt-5{
    padding-top: 50%
}



.ion-color-orange {
    --ion-color-base: #ff5722;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #fbfbfb;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #ffffff;
    --ion-color-tint: #cf4949;
  }

  


.ion-color-gray {
    --ion-color-base: #f6f6f6;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #252525;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e0e000;
    --ion-color-tint: #ffff1a;
  }

  .ion-color-oscuro2 {
    --ion-color-base: #5c5b5b;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #fbfbfb;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #363636;
    --ion-color-tint: #252525;
  }




  .ion-color-orange2 {
    --ion-color-base: #9018f1;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #ff5722;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #ee4b0b;
    --ion-color-tint: #00ff15;
  }

  .titulo-1{
    font-size: 400%;
  }

  
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.txt-120{
    font-size: 120%;
}

.txt-130{
    font-size: 130%;
}

.txt-140{
    font-size: 140%;
}


.txt-150{
    font-size: 150%;
}

* ::-webkit-scrollbar{
    display: none;
}



.tema-oscuro{
    background-color: #5c5b5b;
    color: white;
}

$base-color: rgba(255, 236, 212, 0.438);

.tema-principal{
    background-color: white;
    color: black
}


.ion-color-principal {
    --ion-color-base: rgba(255, 255, 255, 0.02);
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #363636;
    --ion-color-tint: #252525;
  }

.white-text{
    color: white;      
  }

  .black-text{
    color: black;      
  }

  

.volteado{
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }


  .txt-21{
    font-size: 180%;
  }

  button {
    border-radius: 26px;
  }

  a {
    border-radius: 26px;
  }
