<ion-content [color]="conf.temaOscuro ? 'oscuro2' : 'principal'"  (click)="iniciar()" >
    <ion-row style="height: 100%;" justify-content-center align-items-center>
        <ion-col size="12" text-center>

        <ion-img  class="animated bounceInUp center" src="assets/img/h.png" style="width: 50%"></ion-img>
        <ion-img  class="animated lightSpeedIn center delay-1s" src="assets/img/f.png" style="width: 50%"></ion-img>

          <div class="animated  bounceInDown delay-2s" style="padding-top: 10%">
           

            <button style="font-size: 250%; text-align: center;" center-text  class=" btn btn-large waves-effect waves-light btn-floating  deep-orange lighten-1 animated pulse infinite delay-1s">
              <ion-icon style="padding-top: 18%; padding-left:5%" name="play"></ion-icon>
            </button>

          </div>

        </ion-col>


        <ion-col size="12" text-center class="animated fadeInUp delay-1s" style="font-size: 150%"  >
            <b> <ion-icon class="animated jackInTheBox delay-2s" style="font-size: 220%" [name]="icon"></ion-icon> <br> <small>J19 Studios</small></b><br>
            
        </ion-col>

      </ion-row>
   
</ion-content>